body {
	background: url("bud_hill_img/háttér.jpg") no-repeat center fixed; 
	background-size: cover;
	color: #5264a5;
	font-size: 1vh; 
	font-family: 'Nunito', sans-serif;
	line-height: 1vh;
	margin: 0;
	padding: 0;
	text-align: left;
	text-shadow:  #303c6c 0.03vh 0.03vh;
}
.hill_body{
	background: url("bud_hill_img/háttér_hill.jpg") no-repeat center center fixed; 
}

h1 {
	color: #8EA5F7;
	font-size: 2.5vh;
	text-align:right;
	float:right;
	margin:3vh 3vh 0 0;
	line-height: 100%;
	font-family: 'Lobster', cursive;
}	

h2 {
	font-size: 2.5vh; 
	font-family: 'Lobster', cursive;
}

a:hover {
	transition: 0.5s;
	background-color: #ccd6fa;
	color: #b9aa70;
	text-decoration: none;
}

header{
	background-color: #e6d28b;
}

header nav {
	background-color: rgba(0, 0, 0, 0.24);
	font-size: 1.143em;
	height: 4vh;
	line-height: 3vh;
	margin: 0 auto 3vh auto;
	text-align: center;
}
	
header nav ul {
	list-style: none; 
	margin: 0 auto;
}

header nav ul li {
	float: left; 
	display: inline; 
}
	
header nav a:link{
	display: inline-block;
	height: 3vh;
	padding: 0.5vh 2.3vh;
	text-decoration: none;
}
	
header nav li a {
	color: #ccd6fa;
	border-radius: 0.5vh;
}

header img {
	width: 30%;
	height: auto;
	margin: 3% 0;
	opacity: 0;
}

.mainContent {
	overflow: hidden;
	line-height: 25px;
	font-size: 20px;
	border-radius: 0.5vh;
}

.content-1 {
	margin-bottom: 3%;
}

.content-2, .content-1 {
	background-color: rgba(233, 227, 227, 0.74);	
	border-radius: 0.5vh;
	padding: 3% 5%;
}

.content {
	width: 68%;
	float: left;
	border-radius: 0.5vh;
	font-size: 20px;
	line-height: 25px;
}

.megjegyzes {
	font-style: italic;
	color: #303c6c;
	font-size: 90%;
}



.sidebar-2, .sidebar-1, .sidebar-3 {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 0.5vh;
	background-color: rgba(233, 227, 227, 0.795);	
	padding: 2% 3%;
	margin-bottom: 2%;
}

.footer {
	width: 100%;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0.5vh;
	color: #FFF;	
}

.footer p {
	width: 91%;
	margin: 2% auto;
	text-align: center;
}
.footer p a{
	color: rgb(33, 189, 168);
}

.bud_spencer_image, .terence_hill_image{
	height: 30vh;
	float: left;
	margin-left: -1vh;
}
tr, td, th{
	text-align: center;
}
table{
	border: solid 2px #303c6c;
}
td{
	border-top: solid 2px #303c6c;
	border-left: solid 2px #303c6c;
}
.darker{
	color: #303c6c;
	background-color: rgba(0, 0, 0, 0.205);
}




@media (max-width: 700px) {
	.mainContent {
		overflow: hidden;
		line-height: 2.5vh;
		border-radius: 0.5vh;
	}
	
	.content-1 {
		margin-bottom: 3%;
	}
	
	.content-2, .content-1 {
		background-color: rgba(255,255,255,0.8);	border-radius: 0.5vh;
		padding: 3% 5%;
	}
	
	.content {
		width: 100%;
		border-radius: 0.5vh;
	}
	
	.sidebar-2, .sidebar-1, .sidebar-3 {
		width: 104%;
		border-radius: 0.5vh;
		background-color: rgba(255,255,255,0.8);	padding: 2% 3%;
		margin-top: 2%;
	}
}