/* #FBE8A6
#F4976C
#303C6C
#B4DFE5
#D2FDFF */

/* title:font-family: 'Lobster', cursive; */
/* text:font-family: 'Cantarell', sans-serif; */

*{
    margin: 0;
}

body{
    background-color: #f7e08e;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: #f7e08e;
}

.title{
    width: 40%;
    margin: auto;
    padding: 3vh;
}

h1{
    text-align: center;
    color: #F4976C;
}

.slide{
    background-color: red;
    width: 70%;
    height: 30vh;
    margin: auto;
    margin-top: 5vh;
}

.navbar-brand img {
    max-width: 10vh;
    display: block;
    width: 100%;
    border-radius: 5vh;
    }
.navmargin{
    margin-right: 10vh;
}
