/* #FBE8A6
#F4976C
#303C6C
#B4DFE5
#D2FDFF */

/* title:font-family: 'Lobster', cursive; */
/* text:font-family: 'Cantarell', sans-serif; */

*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #f7e08e;
    font-family: 'Cantarell', sans-serif;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: #f7e08e;
}

.title{
    width: 40%;
    margin: auto;
    padding: 3vh;
    font-size: 100%;
    font-family: 'Lobster', cursive;
}

h1{
    text-align: center;
    color: #F4976C;
}

.menu{
    margin-bottom: 5vh;
    width: 45vw;
    height: 8vh;
    background-color: #303C6C;
    text-align: center;
    font-size: 3vh;
}

.menu>a{
    text-decoration: none;
    color: #D2FDFF;
    position: relative;
    top: 1.7vh;
}

.right{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 70%);
    float: right;
    position: relative;
    top: -1vh;
}

.left{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
    position: relative;
    top: 25vh
}

.container>img{
    width: 30vw;
    float: right;
}

.container{
    float: right;
    margin: none;
    height: 30vh;
    width: 40vw;
    height: 24vh;
    position: relative;
    top: 10vh;
}
