/* #FBE8A6
#F4976C
#303C6C
#B4DFE5
#D2FDFF */

/* title:font-family: 'Lobster', cursive; */
/* text:font-family: 'Cantarell', sans-serif; */

*{
    margin: 0;
    scroll-behavior: smooth;
}
body {
    min-height: 100%;
  }
body{
    background-color: #f7e08e;

}

.header{
    width: 100%;
    height: 10vh;
    background-color: #f7e08e;
}

.title{
    width: 40%;
    margin: auto;
    padding: 3vh;
    font-size: 100%;
}

h1{
    text-align: center;
    color: #F4976C;
}

.slide{
    width: 50vw;
    max-height: 40vh;
    /* background-image: url(img/bud_spencer_terence_hill_filmunnep-1024x530.jpg); */
    margin: auto;
    margin-top: 5vh;
}
.slide>img{
    height: auto;
    max-height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 2vh;
}
.container{
    display: flex;
    width: 50vw;
    margin: auto;
    max-height: 40vh;
    margin-top: 5vh;
}
.card>img{
    height: auto;
    max-height: 40vh;
    width: 100%;
    object-fit: cover;
    border-radius: 2vh;
}
#bud_card{
    margin-right: 20vw;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-brand img{
    max-height: 15vh;
    
}

.carousel{
    width: 100%;
}
.mainimage{
    height: 100vh;
    width: 100%;
    background-image: url(img/high\ quality.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    .mainimage{
        height: 100vh;
        width: 100%;
        background-image: url(img/kiskep.jpg);
        
        background-position: center center;

    }

}

.navbar-toggler-icon{
    width : 5rem;
    height: 5rem;
}
a.nav-link{
    font-size: 1.5em;
    font-weight: bold;

    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}
.navbar-toggler {
    border-radius: 1rem;
}
.mimg{
width: 100%;  
  border-radius: 1vh;
  display: block;
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    object-position: center;
    box-sizing: content-box;
    border: 5px solid #303C6C;
}
.moviecard{
    position: relative;
    overflow: hidden;
    margin-bottom: 1vw;
 

}

.allmovies{

 width: fit-content;
 display: flex;
flex-direction: row;



}
.htext{
    position: absolute;
    inset: 0;
    font-size: 1rem;
    padding: 1rem;
    background: rgba(255,255,255,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303C6C;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: rgba(255,255,255,0);
}
.mimg,.htext{
    transition: 200ms ease-in-out;

}
.moviecard> .htext.fade{
    opacity: 0;
}

.moviecard:hover> .htext.fade{
    opacity: 1;
}
.vidcontainer{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    top: 0;
    left: 0vh;
    padding-top: 0vh;
    background-color: rgba(255,255,255,.7);
    opacity: 0;
    scale: 0;
    padding-bottom: 56.25%; 

     
    overflow: hidden; 
}


.vidcontainer iframe {
     position: absolute;
      top: 10%; 
      left: 5%; 
      width: 90%; 
      height: 70%;

     }
.close{
    position: relative;
    background-color: white;

    

    width: 5VH;

    font-size: 3vh;
    text-align: center;
    padding: 0;
    border: #303C6C 0.2vh solid;
}
.close:hover{
    background-color: red;
}
.bcon{
    width: 100%;
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    z-index: 1;
    scale: 0;

}